.parent a {
    width: 0;
}

.screen-side {
    text-align: center;
  }
  .screen-side .screen {
    height: 25px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0px -3px 0px 1px black;
    color: black;
  }
  .screen-side .select-text {
    color: #969696;
  }

  :visited {
      background-color: red;
  }